<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>proxy</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="menu"></div>
    <script src="http://localhost:3001/bundle.js"></script>
    <script src="http://localhost:3002/bundle.js"></script>
    <script src="http://localhost:3003/bundle.js"></script>
    <script src="http://localhost:3004/bundle.js"></script>
</body>
</html>
